/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-shape: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{font-size: 18pt; font-family: Helvetica,Arial,Verdana,Sans-serif; font-weight: normal; margin-top: 70px; margin-bottom: 30px; color: #056ACF}
H2		{font-size: 16pt; font-family: Helvetica,Arial,Verdana,Sans-serif; font-weight: normal; margin-top: 50px; margin-bottom: 15px; color: #056ACF}
H3		{font-size: 12pt; font-family: Helvetica,Arial,Verdana,Sans-serif; font-weight: normal; margin-top: 40px; margin-bottom: 15px; color: #056ACF}
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.centerline		{   }
DIV.center		{   }
TABLE.equation		{  }
SPAN.itshape		{   }
DIV.navigation		{   }
SPAN.Alph		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
#par862		{   }
